GPATH
GRTAGS
GTAGS
tags
build
known_hosts
authorized_keys
*.swp
.vscode
.ycm_extra_conf.py
.color_coded
.ccls
.ccls-cache
.session
compile_commands.json
*.patch
.gdbinit
.clang-format
__pycache__
*.hsaco
