#TabsToolbar {
	visibility: collapse !important;
}

#sidebar-header {
	display: none;
}

#sidebar {
	max-width: none !important;
	min-width: 250px !important;
}

browser {
	background: #002b36 !important;
}
